*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: geometricPrecision;
}

body {
  margin-top: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

img {
  vertical-align: middle;
}